<!DOCTYPE html>
<html>
    {% extends 'temp.html' %}
<head>
{% block head %}
<title>Login</title>
<link href="static/login.css" rel="stylesheet">
{% endblock head %}
</head>

<body >
{% block body %}
 
<div >
<div class="row">
  <div class="column" >
    <div class="slideshow-container center" >

        <div class="mySlides fade">
            <img src="static/1.jpg" style="width:100%">
        </div>
        
        <div class="mySlides fade">
          <img src="static/2.jpg" style="width:100%">
        </div>
        
        <div class="mySlides fade">
          <img src="static/3.jpg" style="width:100%">
        </div>
    </div>
</div>

  <div class="column" >
   
    <form action="/signup" method="POST" >
      {% csrf_token %}
      <div class="container">
        <h1 style="margin-block-start: 0em;">Sign Up</h1>
        <hr>
        <input type="text" placeholder="First Name" name="fName" id="fName" required>

        <input type="text" placeholder="last Name" name="lName" id="lName" required>

        <input type="text" placeholder="your Email" name="email" id="email" required>

        <input type="text" placeholder="Tenant ID" name="tid" id="tid" required>

        <input type="password" placeholder="Password" name="pswd" id="pswd" required>
    
        <input type="password" placeholder="Re-Enter Password" name="rpswd" id="rpswd" required>
  
        <hr>
    
        <button type="submit" class="registerbtn" onclick="matchPassword()">Sign Up</button>
      
        <p style="text-align : center">Already Have an account <b>
          <a href="login" style="color:black; text-decoration:none">Login.</a></b>
        </p>
      </div>
    </form>
  </div>
</div>
</div>

<script>
    let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";  
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}    
  for (i = 0; i < slides.length; i++) {
    slides[i].className = slides[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  slides[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}
</script>


<script>  
    function matchPassword() {  
      var pw1 = document.getElementById("pswd");  
      var pw2 = document.getElementById("rpswd");  
      if(pw1 != pw2)  
      {   
        alert("Passwords did not match");  
      } else {  
        alert("Password created successfully");  
      }  
    }  
</script>
{% endblock body %}
</body>
</html>
